  {{ $title := .Title }}

  {{ $root := .Page.Site.BaseURL | replaceRE "^https?://(en.|www.|m.)?([^/]+).*" "$2" }}
  {{ $domain := .Destination | replaceRE "^https?://(en.|www.|m.)?([^/]+).*" "$2" }}

  {{ $first := truncate 1 "" $domain }}
  {{ $slash := (eq $first "/" )}}
  {{ $hash := (eq $first "#") }}
  {{ $not_internal := (eq true (and (and (ne $first "/") (ne $first "#")) (ne $domain $root))) }}

<a href="{{ .Destination | safeURL }}"
    {{ if ne .Title "" }}
      title="{{ .Title }}"
    {{ else if $slash }}
      title="Internal link with text: {{ .Text | safeHTML }}"
    {{ else if $hash }}
      title="Same post link with text: {{ .Text | safeHTML }}"
    {{ else }}
      title="Link to {{ $domain }} with text: {{ .Text | safeHTML }}"
    {{ end }}
    {{ if strings.HasPrefix .Destination "http" }}
      target="_blank"
      rel="noreferrer noopener"
    {{ else }}
      data-rel="prefetch"
    {{ end }}
>{{ .Text | safeHTML }}</a>