{{ $root := .Page.Site.BaseURL }}
{{ $relpermalink := .Page.RelPermalink }}
{{ $alt := .Text }}
{{ $title := "" }}
{{ if ne .Text "" }}
  {{ $title = .Text }}
{{ end }}
{{ if ne .Title "" }}
  {{ $title = .Title }}
{{ end }}
{{ $cdn := "" }}
{{ if in (string $root) "localhost" }}
  {{ $cdn = "/localhost" }}
{{ else if in (string $root) "staging" }}
  {{ $cdn = "/staging" }}
{{ else }}
  {{ $cdn = "" }}
{{ end }}
{{ $sourceCDN := print "https://cdn.ybbond.dev" $cdn $relpermalink .Destination }}
<figure><center>
  <img alt="{{ $alt }}" src="{{ $sourceCDN }}" style="max-width: 100%; height: auto;" />
  <figcaption>
    <em>{{ .Text | safeHTML }}
      <a title="{{ $title }}" href="{{ $sourceCDN }}">
        <i class="no-sup fab fa-font-awesome-flag"></i>
      </a>
    </em>
  </figcaption>
</center></figure>
