@import "variables";

pre {
  overflow: auto;
  padding: 0.5rem;
}
code {
  padding: 0.1rem;
  font-family: $font-mono;
  font-size: 0.9rem;
  &.language-bash {
    &:before {
      content: "$ ";
    }
  }
}

:not(pre) > code {
  @include themify($themes) {
    background-color: themed('color-background-hover');
  }
}


