<nav>
  <div class="header__upper">
    {{ if .IsHome }}
      <h1 class="header__title">Yohanes Bandung Bondowoso</h1>
    {{ else }}
      <h2 class="header__title">Yohanes Bandung Bondowoso</h2>
    {{ end }}
    <button
      class="header__toggler"
      id="dark-toggler"
      title="Toggle light theme for this website."
    >
      🌛
    </button>
  </div>
  <details class="mobile">
    <summary>Menus</summary>
    {{ range .Site.Menus.main }}
      {{ $url := trim .URL "/" | absURL }}
      <button
        data-rel="prefetch"
        {{ if eq $.RelPermalink (print .URL "/") }}
          id="active"
        {{ else }}
          onclick="window.location.href='{{ $url }}'"
        {{ end }}
      >
        {{ .Pre }}<span>{{ .Name }}</span>
      </button>
    {{ end }}
  </details>
  <div class="desktop">
    {{ range .Site.Menus.main }}
      {{ $url := trim .URL "/" | absURL }}
      <button
        data-rel="prefetch"
        {{ if eq $.RelPermalink (print .URL "/") }}
          id="active"
        {{ else }}
          onclick="window.location.href='{{ $url }}'"
        {{ end }}
      >
        {{ .Pre }}<span>{{ .Name }}</span>
      </button>
    {{ end }}
  </div>
</nav>